* {
    box-sizing: border-box;
}

html {
    font-size: $app-font-size-base;
}

body, 
main, 
section,
article, 
aside, 
ul, 
li, 
button, 
nav, 
div,
form,
input, 
header, 
footer, 
figure, 
img {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

ul {
    list-style-type: none;
}

button {
    width: auto;
    height: auto;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}