.structure--head, .structure--foot {
    font-size: .95rem;
    justify-content: flex-start;
}

.structure--head .structure--title {
  font-size: .95rem;
}

.structure--body {
    margin-bottom: auto;
    justify-content: flex-start;
}

.structure--foot {
    margin-top: auto;
}

.structure--scroll {
    overflow: hidden;

    // Firefox
    scrollbar-width: none;

    &::-webkit-scrollbar {
    width: 0px;

    // Chrome/Safari/Webkit
    background: transparent;
    }

  &-y:hover {
    overflow-y: auto;
  }

  &-x:hover {
    overflow-x: auto;
    }
}


/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}