.htaccess

/index.php
/licence.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/wp-admin
/wp-includes

/wp-content/languages
/wp-content/plugins
/wp-content/uploads

/wp-content/themes/*
!/wp-content/themes/mda
/wp-content/themes/mda/composer.json
/wp-content/themes/mda/package.json
/wp-content/themes/mda/.eslintrc
/wp-content/themes/mda/.stylelintrc.json
/wp-content/themes/mda/phpcs.xml.dist
/wp-content/themes/mda/readme.txt
/wp-content/themes/mda/readme.md
/wp-content/themes/mda/license
