/* === Main === */

$color-main: #ea0084;
$color-main-darker: #cc0b78;
$color-main-lighter: #f81897;
$color-main-shadow:  #200e18;
$color-main-pale: #f796cd;


/* === Secondary === */

$color-secondary: #43beba;
$color-secondary-darker:#3ea19e;
$color-secondary-lighter: #59d6d2;
$color-secondary-shadow:#162423;
$color-secondary-pale: #c1f3f1;


/* === Link / buttons / action === */

$color-action: #4abc96;
$color-action-darker: #4ba185;
$color-action-lighter: #63d6b0;
$color-action-shadow: #1f2926;
$color-action-pale: #a2f7db;


/* === Warm === */

$color-warm: #ff914d;
$color-warm-darker: #e48b54;
$color-warm-lighter: #ffa167;
$color-warm-shadow: #2c2623;
$color-warm-pale: #fff7f2;

/* === Gradient === */
$color-gradient: linear-gradient(90deg, rgba(134,208,233,.3) 0%, rgba(242,218,244,.8) 100%);

/* === Neutral === */
$color-dark: #151818;
$color-white: #f4f4f4;
$color-grey: #545454;
$color-light: #e9e6e6;