@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300;1,400;1,700&display=swap');


/* === Font family === */

$base-font-size: 16px;
$font-main:'Open Sans', sans-serif;
$font-head: 'Economica', sans-serif;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


/* === Titles === */

$h1: 4rem;
$h2: calc(#{$h1} * .8);
$h3: calc(#{$h1} * .58);
$h4: calc(#{$h1} * .5);
$h5: calc(#{$h1} * .42);
$h6: calc(#{$h1} * .33);

$custom-font-size: 6rem;