h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $font-head;
}

h1,
.title--h1 {
    font-size: $h1;
}

h2,
.title--h2 {
    font-size: $h2;
}

h3,
.title--h3 {
    font-size: $h3;
}

h4,
.title--h4 {
    font-size: $h4;
}

h5,
.title--h5 {
    font-size: $h5;
}

h6,
.title--h6 {
    font-size: $h6;
}

.title--title-landing {
    font-size: $custom-font-size;
    margin-bottom: 0;
    margin-top: 0;
}


/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}