/* ==== ======================== */
/* ==== Default positions
/* ==== ======================== */

.position--absolute,
.position--content-absolute > * {
    position: absolute;
    z-index: 200;
}

.position--relative {
    position: relative;
    z-index: 0;
}

.position--sticky {
    position: absolute;
    z-index: 300;
}

.position--fixed {
    position: fixed;
    z-index: 300;
}

.position--static {
    position: static;
    z-index: 0;
}


/* ==== ======================== */
/* ==== Placement
/* ==== ======================== */

.position--xy-center {
    top: 50;
    left: 50;
}

.position--xy-center-y {
    top: 50;
    left: 0;
}

.position--xy-center-x {
    top: 0;
    left: 50;
}

.position--xy-contain {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.position--xy-tl {
    top: 0;
    left: 0;
}

.position--xy-tr {
    top: 0;
    right: 0;
}

.position--xy-bl {
    bottom: 0;
    left: 0;
}

.position--xy-br {
    bottom: 0;
    right: 0;
}

.position--xy_ {
    &.t {
        &-50 {
            top: -50%;
        }
        &-40 {
            top: -40%;
        }
        &-30 {
            top: -30%;
        }
        &-20 {
            top: -20%;
        }
        &-10 {
            top: -10%;
        }

        &0 {
            top: 0;
        }

        &10 {
            top: 10%;
        }
        &15 {
            top: 15%;
        }
        &25 {
            top: 25%;
        }
        &50 {
            top: 50%;
        }
    }

    &.b {
        &-80 {
            bottom: -80%;
        }
        &-50 {
            bottom: -50%;
        }
        &-20 {
            bottom: -20%;
        }
        &-10 {
            bottom: -10%;
        }
        &0 {
            bottom: 0;
        }
        &10 {
            bottom: 10%;
        }
        &15 {
            bottom: 15%;
        }
        &20 {
            bottom: 20%;
        }
        &25 {
            bottom: 25%;
        }
    }


    &.l {
        &-80 {
            left: -80%;
        }
        &-60 {
            left: -60%;
        }
        &-50 {
            left: -50%;
        }
        &-30 {
            left: -30%;
        }
        &-20 {
            left: -20%;
        }
        &-10 {
            left: -10%;
        }

        &0 {
            left: 0;
        }

        &10 {
            left: 10%;
        }
        &15 {
            left: 15%;
        }
        &20 {
            left: 20%;
        }
        &25 {
            left: 25%;
        }
        &30 {
            left: 30%;
        }        
        &40 {
            left: 40%;
        }
        &50 {
            left: 50%;
        }
        &80 {
            left: 80%;
        }
    }

    &.r {
        &-80 {
            right: -80%;
        }
        &-60 {
            right: -60%;
        }
        &-50 {
            right: -50%;
        }
        &-40 {
            right: -40%;
        }
        &-30 {
            right: -30%;
        }
        &-20 {
            right: -20%;
        }
        &-10 {
            right: -10%;
        }

        &0 {
            right: 0;
        }

        &10 {
            right: 10%;
        }
        &15 {
            right: 15%;
        }
        &20 {
            right: 20%;
        }
        &25 {
            right: 25%;
        }
        &30 {
            right: 30%;
        }        
        &40 {
            right: 40%;
        }
        &50 {
            right: 50%;
        }
        &80 {
            right: 80%;
        }
    }
}


/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}