.btn {
    padding: $padding-s;
    height: 3rem;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: none;
    transform: scale(1);
    transition: box-shadow 100ms ease-in,
        transform 130ms ease-in;

    &-sized {
        width: 6rem;
    }

    &-squared {
        width: 3rem;
        height: 3rem;
    }
}


/* ==== ======================== */
/* ==== Hover 
/* ==== ======================== */

.btn:hover {
    transform: scale(.96);

   $box-shadow-color: $color-action;
    box-shadow: -5px 5px 1px 1px $box-shadow-color;
}

.btn.hover {
    &-main:hover {
        $box-shadow-color: $color-main;
    }
}

/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {   

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}
