.card- {
    border-radius: $radius-s;
    background-color: $color-white;
    justify-content: space-between;
    cursor: pointer;

    & > * {
        padding: $padding-s;
    }

    &-bg {
        background-image: url("https://i.postimg.cc/rs2hG5F3/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-white;
    }
}

.card--gallerie {
    flex-direction: row;

    &-4 > * {
        margin: $margin;
        width: calc(25% - ( #{$margin} * 2));

        &:first-child {
            margin-left: 0;
            width: calc(25% - #{$margin});
        }

        &:last-child {
            margin-right: 0;
            width: calc(25% - #{$margin});
        }
    }
}

.card--tag {
    color: $color-secondary;
    font-size: .75rem;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;

    & > * {
        margin: 0 $margin-s
    }

    & > :first-child {
        margin-left: 0;
    }

    & > :last-child {
        margin-right: 0;
    }
}


/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}