@import './structure.scss';
@import './list.scss';
@import './gallery.scss';
@import './shape.scss';
@import './nav.scss';
@import './card.scss';
@import './text-componants.scss';
@import './button.scss';