/* ==== ======================== */
/* ==== Item
/* ==== ======================== */

.content-link li {
    width: auto;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    transition:  box-shadow 100ms ease-in,
        border 130ms ease-in;
}

.content-link li a {
    width: 100%;
    display: inline-block;
}

.logo-squared {
    width: 5rem;
    height: 5rem;
}


/* ==== ======================== */
/* ==== Hover
/* ==== ======================== */

.content-link li:hover {
    border: 2px solid $color-dark;
    transform: translateY(3px);

    $box-shadow-color: $color-white;
    box-shadow: 0px 5px 1px 1px $box-shadow-color;
}

.content-link.hover-main li:hover {
    $box-shadow-color: $color-main;
}

.content-link.hover-main-lighter li:hover {
    $box-shadow-color:$color-main-lighter;
}

.content-link.hover-main-darker li:hover {
    $box-shadow-color: $color-main-darker;
}

.content-link.hover-main-pale li:hover {
    $box-shadow-color: $color-main-pale;
}



/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {
    .navlink-bg-main-hover-md li:hover {
        background-color:  $color-main;
    }
    
    .navlink-bg-main-lighter-hover-md li:hover {
        background-color:  $color-main-lighter;
    }
    
    .navlink-bg-main-darker-hover-md li:hover {
        background-color:  $color-main-darker;
    }

    .navlink-bg-main-pale-hover-md li:hover {
        background-color:  $color-main-pale;
    }

    .content-link li {
        width: 100%;
    }
    
    .content-link-md li {
        width: 100%;
        display: flex;
        align-items: stretch;
        cursor: pointer;
    }
    
    .content-link-md li a {
        width: 100%;
        display: inline-block;
    }
    
}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}
