.text-componant--block-title {
	width: 30%;

	& > :first-child {
		font-size: 4.5rem;
		color: $color-main;
		margin-bottom: 0;
	}

	& > :last-child {
		text-align: right;
		text-transform: uppercase;
		color: $color-grey;
		margin-left: 20%;
	}
}

.text-componant--block-parag {
	width: 60%;

	& p {
		text-align: justify;
	}
}