/* === Main === */

$color-main: #ea0084;
$color-main-darker: #cc0b78;
$color-main-lighter: #f81897;
$color-main-shadow:  #200e18;
$color-main-pale: #f796cd;


/* === Secondary === */

$color-secondary: #43beba;
$color-secondary-darker:#3ea19e;
$color-secondary-lighter: #59d6d2;
$color-secondary-shadow:#162423;
$color-secondary-pale: #c1f3f1;


/* === Link / buttons / action === */

$color-action: #339999;
$color-action-darker: #267373;
$color-action-lighter: #66b3b3;
$color-action-shadow: #0d2626;
$color-action-pale: #e5f2f2;


/* === Warm === */

$color-warm: #ff914d;
$color-warm-darker: #e48b54;
$color-warm-lighter: #ffa167;
$color-warm-shadow: #2c2623;
$color-warm-pale: #fff7f2;

/* === Gradient === */
$color-gradient: linear-gradient(90deg, rgba(134,208,233,1) 0%, rgba(242,218,244,1) 100%);


/* === Neutral === */
$color-dark: #151818;
$color-white: #f4f4f4;
$color-grey: #545454;
$color-light: #d6d6d6;