.p-y-auto,
.p-y-auto-children > * {
    padding : auto 0
}

.p-l {
    &-children > * {
        padding-left: $padding;
    }

    &-s,
    &-s-children > * {
        padding-left: $padding-s;
    }

    &-m,
    &-m-children > * {
        padding-left: $padding-m;
    }

    &-b,
    &-b-children > * {
        padding-left: $padding-b;
    }

    &-none,
    &-none-children > * {
        padding-left: 0;
    }

    &-auto,
    &-auto-children > * {
        padding-left: auto;
    }
}

.p-r {
    &-children > * {
        padding-right: $padding;
    }

    &-s,
    &-s-children > * {
        padding-right: $padding-s;
    }

    &-m,
    &-m-children > * {
        padding-right: $padding-m;
    }
    
    &-b,
    &-b-children > * {
        padding-right: $padding-b;
    }

    &-none,
    &-none-children > * {
        padding-right: 0;
    }

    &-auto,
    &-auto-children > * {
        padding-right: auto;
    }
}

.p {
    padding: $padding;

    &-children > * {
        padding: $padding;
    }

    &-s,
    &-s-children > * {
        padding: $padding-s;
    }

    &-m,
    &-m-children > * {
        padding: $padding-m;
    }

    &-b,
    &-b-children > * {
        padding: $padding-b;
    }

    &-none,
    &-none-children > * {
        padding: 0;
    }

    &-auto,
    &-auto-children > * {
        padding: auto;
    }
}