/* ==== ======================== */
/* ==== Default positions
/* ==== ======================== */

.absolute,
.content-absolute > * {
    position: absolute;
    z-index: 200;
}

.relative {
    position: relative;
    z-index: 0;
}

.sticky {
    position: absolute;
    z-index: 300;
}

.fixed {
    position: fixed;
    z-index: 300;
}

.static {
    position: static;
    z-index: 0;
}


/* ==== ======================== */
/* ==== Placement
/* ==== ======================== */

.xy-center {
    top: 50;
    left: 50;
}

.xy-center-y {
    top: 50;
    left: 0;
}

.xy-center-x {
    top: 0;
    left: 50;
}

.xy-contain {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.xy-tl {
    top: 0;
    left: 0;
}

.xy-tr {
    top: 0;
    right: 0;
}

.xy-bl {
    bottom: 0;
    left: 0;
}

.xy-br {
    bottom: 0;
    right: 0;
}

.xy_ {
    &.t {
        &0 {
            top: 0;
        }
        &10 {
            top: 10%;
        }
        &15 {
            top: 15%;
        }
        &25 {
            top: 25%;
        }
        &50 {
            top: 50%;
        }
    }

    &.b {
        &-80 {
            bottom: -80%;
        }
        &-50 {
            bottom: -50%;
        }
        &-20 {
            bottom: -20%;
        }
        &-10 {
            bottom: -10%;
        }
        &0 {
            bottom: 0;
        }
        &10 {
            bottom: 10%;
        }
        &15 {
            bottom: 15%;
        }
        &25 {
            bottom: 25%;
        }
    }


    &.l {
        &-80 {
            left: -80%;
        }
        &-50 {
            left: -50%;
        }
        &-30 {
            left: -30%;
        }
        &-20 {
            left: -20%;
        }
        &-10 {
            left: -10%;
        }

        &0 {
            left: 0;
        }

        &10 {
            left: 10%;
        }
        &15 {
            left: 15%;
        }
        &20 {
            left: 20%;
        }
        &25 {
            left: 25%;
        }
        &30 {
            left: 30%;
        }        
        &40 {
            left: 40%;
        }
        &50 {
            left: 50%;
        }
        &80 {
            left: 80%;
        }
    }
}


/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

    /* ==== Default positions ==== */

    .absolute-md,
    .content-absolute-md > * {
        position: absolute;
        z-index: 200;
    }

    .relative-md {
        position: relative;
        z-index: 0;
    }

    .sticky-md {
        position: absolute;
        z-index: 300;
    }

    .fixed-md {
        position: fixed;
        z-index: 300;
    }

    .static-md {
        position: static;
        z-index: 0;
    }


    /* ==== Placement ==== */

    .xy-center-md {
        top: 50;
        left: 50;
    }
    
    .xy-center-y-md {
        top: 50;
        left: 0;
    }
    
    .xy-center-x-md {
        top: 0;
        left: 50;
    }
    
    .xy-contain-md {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .xy-tl-md {
        top: 0;
        left: 0;
    }
    
    .xy-tr-md {
        top: 0;
        right: 0;
    }
    
    .xy-bl-md {
        bottom: 0;
        left: 0;
    }
    
    .xy-br-md {
        bottom: 0;
        right: 0;
    }
    
}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}