/* colors neutral*/

.text {
	&-grey {
		color: $color-grey;
	}

	&-white {
		color:$color-white;
	}

	&-dark {
		color: $color-dark;
	}
}

/* colors*/

.text {
	&-warm {
		color: $color-warm;
	}
}


/* transform font */

.text {
	&-regular {
		font-size: 1rem;
	}

	&-m {
		font-size: 1.25rem;
	}

	&-s {
		font-size: .75rem;
	}

	&-justify {
		text-align: justify;
	}

	&-right {
		text-align: right;
	}
}