.list {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    & > li {
        width: auto;
        height: auto;
        margin: 0;
        padding: $padding $padding-s;
    }

    &-row {
        flex-direction: row;

        & > li {
            padding: $padding-s $padding;
        }
    }
}

.list--badge-list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    color: $color-dark;

    & > li {
        width: 100%;
        margin: $margin-s 0;
        align-items: center;
        background-color: $color-white;

        @media screen and (min-width: 600px) {
            width: calc(50% - (#{$margin-s} * 2));
            margin: $margin-s;
        }
    }

    & > li:nth-last-child(odd) {
        flex-grow: 1;
    }
}

.list--badge-list li svg[data-icon] {
    width: 45px;    
    height: auto;
    margin-right: $margin-s;
    padding: $padding-s;
    background-color: $color-warm;
    color: $color-white;
}

/* ==== ======================== */
/* ==== Responsive 
/* ==== ======================== */

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}