.shape--angled {
    border-radius: 0;
}

.shape--sweet {
    border-radius: $radius-m;
}

.shape--rounded {
    border-radius: $radius-b;
}

.shape--rotate90 {
    transform: rotate(90deg);
}

.shape--elmt-border-dotted_ {
    position: absolute;
    display: block;
    width: 100%;
    border-width: 0;
    border-bottom-width: 4px;
    border-style: dotted;
    border-color: $color-dark;
}

.shape--elmt-circle {
    &-b {
        width: 160px;
        height: 160px;
        border-radius: 100%;
    }

    &-m {
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
}

.shape--border {
    &-l_,
    &-l-children_ > * {
        border-left-width: 1px;
        border-left-style: solid;
        border-color: $color-dark;
    }

    &-r_,
    &-r-children_ > * {
        border-right-width: 1px;
        border-right-style: solid;
        border-color: $color-dark; 
    }
}

._grey {
    border-color: $color-grey;
}

._main {
    border-color: $color-main;
}

.shape--badge {
    &-b {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        background-color: $color-main;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-weight: bold;
    
    }

    &-m {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: $color-secondary;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-weight: bold;
    }
}