/**
** LANDING
**/

.structure--hero {
  padding: 0;
  height: 90vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  overflow-y: hidden;
  background: url("./img/bg-illu-landing.png") bottom right / 40% no-repeat, 
    $color-gradient;

    @media screen and (min-width:1220px) {
      background-size: 30%, cover;
    }
}

.structure--hero-badges {
  position: relative;
  width: 30%;
  height: 100%;
  display: none;

  & .div[class*='shape--badge'] {
    position: absolute;
    top: 15%;
    left: 55%;

    &:first-of-type {
      top: 0;
      left: 15%;
    }

    &:last-of-type {
      top: 75%;
      left: 20%;
    }
  }

  @media screen and (min-width:800px) {
    width: 50%;
    display: flex;
    padding-right: $padding-xb;
  }

  @media screen and (min-width:1024px) {
    width: 60%;
  }

  @media screen and (min-width:1280px) {
    width: 70%;
  }
}


/**
** ARTICLES
**/

.structure--article-content {
  width: 100%;
  margin: 0;

  & p {
    text-align: justify;
  }

  @media screen and (min-width: 1024px) {
    width: calc(60% - #{$margin});
    margin: $margin $margin $margin 0;
  }
}

.structure--article-aside {
  position: relative;
  width:100%;
  min-height: 60vh;
  margin: 0;
  padding: $padding-m;
  background-color: $color-light;

  @media screen and (min-width: 1024px) {
    width: calc(40% - #{$margin});
    min-height: 65vh;
    margin: $margin 0 $margin $margin;
  }

  & p {
    font-size: 1.25rem;
  }

  & a {
    font-size: 1rem;
  }
}


/**
** SEARCHBAR
**/

.structure--filter-bar {
  height: 10vh;
  justify-content: center;
  background-color: white;

  & .form {
    width: 100%;
    padding: $padding-s $padding;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .div:first-child {
      width: 20%;
    }

    & .div:last-child {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
    }
  }
}


/**
** HEADER / FOOTER
**/

.type--footer {
  height: 15vh;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-top: 1px solid $color-light;

  @media screen and (min-width: 600px) {
    justify-content: space-between;
  }
}

.type--footer-menu {
  & li a {
    color: $color-grey;

    &:hover {
      color: $color-action;
    }
  }

  & li i {
    font-size: $h4;
    cursor: pointer;

    &:hover {
      color: $color-action;
    }
  }
}