/** 
** Title landing
**/

.title--hero {
	padding: 0 $padding-xb;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	position: relative;

	& h1 {
		font-size: $custom-font-size;
		margin-bottom: 0;
		margin-top: 0;
		color: $color-main;
		letter-spacing: .05rem;
	}

	& h2,
	& .h2 {
		margin: 0 auto 0 0;
		color: $color-grey;
		font-size: $h6;
		text-align: left;

		&:last-of-type {
			text-align: right;
			margin: 0 0 0 auto;
		}
	}

	// border dotted
	& span {
		position: absolute;
		border-bottom: 4px dotted $color-main;

		&:first-child {
			width: 80%;
			bottom: -80%;
			left: -10%;
			transform: rotate(90deg);

			@media screen and (min-width:600px) {
				bottom: -60%;
			}
		}

		&:last-child {
			width: 80%;
			top: -10%;
			left: -35%;
		}
	}

	@media screen and (min-width:600px) {
		width: 70%;
		padding-left: $padding-xb;
		padding-right: 0;
		align-items: flex-start;
	}

	@media screen and (min-width:800px) {
		width: 50%;
	}

	@media screen and (min-width:1024px) {
		width: 40%;
	}

	@media screen and (min-width:1280px) {
		width: 30%;
	}
}


/** 
** Types de titres
**/

.title--secondary {
	& :first-child {
		font-size: $h3;
		margin-top: 0;
		margin-bottom: $margin;
	}

	& :last-child {
		margin-top: 0;
		width: 50%;
		border-bottom-style: dotted;
		border-bottom-width: 6px;
		border-bottom-color: $color-main;
	}
}

.title--main {
	width: 65%;
	margin-bottom: $margin-xb;

	&> :first-child {
		position: relative;
		font-size: 4.5rem;
		color: $color-main;
		margin-bottom: 0;
	}

	// border dotted
	& span {
		position: absolute;
		width: 100%;
		left: -50%;
		top: -20%;
		border-bottom-style: dotted;
		border-bottom-width: 6px;
		border-bottom-color: $color-main;
	}

	&> :last-child {
		margin-top: $margin;
		text-align: right;
		text-transform: uppercase;
		margin-left: auto;
		color: $color-grey;
	}

	& + div {
		width: 100%;
		margin-top: 0;

		& p {
			font-size: 1.25em;
		}

		@media screen and (min-width: 1024px) {
			width: 60%;
			margin-top: 10vh;
		}
	}

	@media screen and (min-width: 800px) {
		width: 50%;
	}

	@media screen and (min-width: 1024px) {
		width: 30%;
	}
}

.title--main-simple {
	width: 80%;
	margin-bottom: $margin-xb;

	&> :first-child {
		position: relative;
		font-size: 4.5rem;
		color: $color-main;
		margin-bottom: 0;
	}

	& span {
		position: absolute;
		width: 100%;
		left: -50%;
		top: -20%;
		border-bottom-style: dotted;
		border-bottom-width: 6px;
		border-bottom-color: $color-main;
	}
}

.title--article {
	margin: 0;
	padding: 0 $padding-xb;
	text-align: center;
	align-items: center;

	&> :first-child {
		margin-top: 0;
		margin-bottom: $margin-s;
	}

	&> :last-child {
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: bold;
		color: $color-warm;
		font-size: $h5;
	}

	@media screen and (min-width: 800px) {
		text-align: left;
		align-items: flex-start;
	}
}