/* Thème backgrounds */

.bg {
	&-main {
		background-color: $color-main;
	}

	&-secondary {
		background-color: $color-secondary;

		&-pale {
			background-color: $color-secondary-pale;
		}
	}

	&-action {
		background-color: $color-action;
	}

	&-warm {
		background-color: $color-warm;
	}
}



/* Neutral backgrounds */

.bg {
	&-white {
		background-color: $color-white;
	}

	&-grey {
		background-color: $color-grey;
	}

	&-dark {
		background-color: $color-dark;
	}
}


/* Custom backgrounds */

.bg-gradient {
	background: $color-gradient;
}
