/* type de display */ 

.display {
	&-none {
		display: none;
	}

	&-flex {
		display: flex;
	}
}


/* Positionnement flex */

.display {
	&-center {
		justify-content: center;
		align-items: center;

		&-y {
			align-items: center;
		}
		
		&-x {
			justify-content: center;
		}
	}

	&-between-x {
		justify-content: space-between;

		&-800 {
			@media screen and (min-width: 800px){
				justify-content: space-between;
			}
		}

		&-1024 {
			@media screen and (min-width: 1024px){
				justify-content: space-between;
			}
		}
	}


	&-end {
		&-x {
			justify-content: flex-end; 

			&-800 {
				@media screen and (min-width: 800px){
					justify-content: flex-end; 
				}
			}
		}

		&-y {
			align-items: flex-end;
		}
		
	}

	&-wrap {
		flex-wrap: wrap;

		&-800 {
			@media screen and (min-width: 800px){
				flex-wrap: wrap;
			}
		}
	}

	&-nowrap {
		flex-wrap: nowrap;
		
		&-800 {
			@media screen and (min-width: 800px){
				flex-wrap: nowrap;
			}
		}
	}

	&-nowrap-md {
		@media screen and (min-width: 1024px) {
			flex-wrap: nowrap;
		}
	}
}

#shadow-root button#reset-button.datetime-reset-button {
	display: none !important;
	visibility: hidden !important;
	color: transparent !important;
	fill: transparent !important;
	opacity: 0 !important;
	background-color: transparent !important;
	border: none;
}

input[type="time"]::-webkit-clear-button {
    display: none !important;
}

.width-100 {
	width: 100%;
}

.width-auto-800 {
	@media screen and (min-width: 800px){
		width: auto;
	}
}

.width-auto-1024 {
	@media screen and (min-width: 1024px){
		width: auto;
	}
}

.width-50-800 {
	@media screen and (min-width: 800px){
		width: 50%;
	}
}

.width-50-1220 {
	@media screen and (min-width: 1220px){
		width: 50%;
	}
}


