/* type de display */ 

.display {
	&-none {
		display: none;
	}

	&-flex {
		display: flex;
	}
}


/* Positionnement flex */

.display {
	&-between-x {
		justify-content: space-between;
	}

	&-center {
		justify-content: center;
		align-items: center;

		&-y {
			align-items: center;
		}
	}

	&-end-x {
		justify-content: flex-end;
	}
}