.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#contact-pink {
	background-color: $color-main;
	padding: $padding-xb $padding;

	.title {
		font-family: $font-head;
		font-size: $h2;
		text-align: center;

		a {
			color: $color-white;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#partenaires_footer {
	text-align: center;
	padding: $padding-xb $padding;

	.title {
		font-family: $font-head;
		font-size: $h2;
	}
}