body {
    position: relative;
    margin: 0 auto;
    font-family: $app-font;
    font-size: 1rem;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-white;
}

