button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-action;
	border-radius: 3px;
	background: $color-action;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color-action-darker;
	}

	&:active,
	&:focus {
		border-color: $color-action-darker;
	}
}

.btn-link {
	padding: $padding-s $padding;
	color: $color-white;
	border-radius: $radius-b;
	background-color: $color-secondary;
	transition: box-shadow 150ms ease-in,
    transform 150ms ease-in;

	&:hover {
        box-shadow: -5px 5px 0 $color-main; 
        transform: translate(5px, -5px); 
    }

	& a {
		color: $color-white;
	}
}

.btn-seemore {
	padding: $padding-s $padding;
	color: $color-white;
	border-radius: $radius-b;
	background-color: $color-secondary;
	transition: box-shadow 150ms ease-in,
    transform 150ms ease-in;

	&:hover {
        box-shadow: -5px 5px 0 $color-warm; 
        transform: translate(5px, -5px); 
    }

	& a {
		color: $color-white;
	}
}

.btn {
	width:auto;
	margin-top: .75rem;
	margin-bottom: .75rem;

	@media screen and (min-width: 800px){
		margin-top: 0;
		margin-bottom: 0;
	}

	&-s {
		min-width: 75px;
	}

	&-m {
		min-width: 200px;
	}

	&-b {
		min-width:320px;
	}
}


.btn-display-content {
	padding: $padding-s $padding;
	color: $color-white;
	border-radius: $radius-b;
	border: none;
	background-color: $color-main;
	transition: box-shadow 150ms ease-in,
    transform 150ms ease-in;

	&:hover {
        box-shadow: -5px 5px 0 $color-secondary; 
        transform: translate(5px, -5px); 
    }

	& a {
		color: $color-white;
	}
}