/* === ========================== */
/* === CONTAINERS
/* === ========================== */

.container-main {
	max-width: $app-w;
	height: $app-h;
	/* margin-top : navbar size */
	margin: 10vh auto auto auto;
	padding: 0;
	background-color: transparent;
}

.container {
	width: 100%;
	height: auto;
	margin: 0;
	padding: $padding-s $padding-xb;
	/*flex*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	&-row {
		width: 100%;
		height: auto;
		margin: 0;
		padding: $padding-s $padding-xb;
		/*flex*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}


/* === ========================== */
/* === WRAPPERS
/* === ========================== */

.wrapper {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	/*flex*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	&-row {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		/*flex*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.wrapper-hero {
	width: 100%;
	height: 90vh;
	text-transform: uppercase;
	overflow-y: hidden;
	/*flex*/
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*backgorund*/
	background: $color-gradient;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*
.wrapper-badges {
	position: relative;
	width: 30%;
	height: 100%;
	display: none;

	& .div[class*='shape--badge'] {
		position: absolute;
		top: 15%;
		left: 55%;

		&:first-of-type {
			top: 0;
			left: 15%;
		}

		&:last-of-type {
			top: 75%;
			left: 20%;
		}
	}

	@media screen and (min-width:800px) {
		width: 50%;
		display: flex;
		padding-right: $padding-xb;
	}

	@media screen and (min-width:1024px) {
		width: 60%;
	}

	@media screen and (min-width:1280px) {
		width: 70%;
	}
}
*/

.wrapper-section-presentation {
	width: 100%;
	height: auto;
	/*flex*/
	justify-content: space-between;

	& .heading-section  {
		width: 100%;
		margin-right: 0;
		margin-bottom: $margin;

		@media screen and (min-width: 600px) {
			margin-right: $margin-xb * 5;
		}
		
		@media screen and (min-width: 800px) {
			width: calc(30% - #{ $margin-xb });
			margin-right: $margin-xb;
			margin-bottom: 0;
		}
	}

	& ._paragraphe {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		text-align: justify;

		@media screen and (min-width: 800px) {
			width: calc(60% - #{ $margin-xb });
			margin-left: $margin-xb;
			margin-top: $margin-xb;
		}
	}
}

.wrapper-article {
	width: 100%;
	margin: 0;

	& p {
		text-align: justify;
	}

	@media screen and (min-width: 1024px) {
		width: calc(60% - #{$margin});
		margin: $margin $margin $margin 0;
	}
}

.wrapper-aside {
	position: relative;
	width: 100%;
	height: auto;
	margin: $margin-b 0 0 0;
	padding: $padding-m;
	/*background*/
	background-color: $color-light;

	@media screen and (min-width: 1024px) {
		width: calc(40% - #{ $margin });
		margin: $margin 0 $margin $margin;
	}
}

.wrapper-aside-section {
	width: 100%;
	height: auto;
	margin-bottom: $margin-m;

	& .heading-simple {
		margin-bottom: $margin;
	}
}

.wrapper-filter-bar {
	height: 10vh;
	padding: $padding-xb;
	/*flex*/
	justify-content: center;

	& ._body {
		width: 100%;
		padding: $padding-s $padding;
		/* flex */
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		& ._searchbar {
			width: auto;
		}

		& ._filters {
			width: auto;
			/* flex */
			display: flex;
			flex-direction: row;
			align-items: center;
			
			& > * {
				padding: 0 $padding;
			}
		}
	}
}

.wrapper-footer {
	height: 15vh;
	align-items: center;
	justify-content: center;
	background-color: $color-white;
	border-top: 1px solid $color-light;

	& ._footer-menu {
		& li a {
			color: $color-grey;
	
			&:hover {
				color: $color-action;
			}
		}
	
		& li i {
			font-size: $h4;
			cursor: pointer;
	
			&:hover {
				color: $color-action;
			}
		}
	}

	@media screen and (min-width: 600px) {
		justify-content: space-between;
	}
}